<!-- dashboard.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <!-- Include Bootstrap CSS (either download and include or use a CDN) -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

  <nav class="navbar navbar-expand-lg" style="background-color: #CD7F32;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Fun & Festive</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: right;">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " href="/dashboard">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/dashboard/events">Events</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <form action="/logout" method="post" class="nav-link">
              <button type="submit" class="btn btn-link">Logout</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <% if (errorMessage) { %>
          <div class="alert alert-danger" role="alert"><%= errorMessage %></div>
        <% } %>
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">Create Event</h3>
          </div>
          <div class="card-body">
          <form action="/create-event" method="post">
            <div class="mb-3">
            <label for="eventName" class="form-label">Event Name:</label>
            <input type="text" class="form-control" id="eventName" name="eventName" required>
              </div>
            <button class="btn btn-primary" type="submit">Create Event</button>
          </form>
          </div>
        </div>
        <div class="card" style="margin-top: 2%;">
          <div class="card-header">
            <h3 class="text-center">Events</h3>
          </div>
          <div class="card-body">
            <hr>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
                
                <% events.forEach(event => { %>
                    <tr>
                  <td> <%= event.id %></td>
                  <td> <%= event.name %></td>
                </tr>
                <% }); %>
                
            </table>
              
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Include Bootstrap JS (either download and include or use a CDN) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
