<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/CSSevents.css">
    <nav class="centered-pinned-nav">
      <a href="/">HOME</a>
      <a href="#WEDDINGS">WEDDINGS</a>
      <a href="#HOUSE WARMING">HOUSE WARMING</a>
      <a href="#BIRTHDAYS">BIRTHDAY</a>
      <a href="#GENDER REVEAL">GENDER REVEAL</a>
      <a href="#CORPORATE EVENTS">CORPORATE EVENTS</a>
    </nav>
    <br>
    <br>
    <style>
      /* Add some basic styling */
      body {
        font-family: Arial, sans-serif;
      }

      img {
        max-width: 100%;
        /* Ensure images are responsive */
        height: auto;
        display: inline-block;
        margin-right: 20px;
        /* Adjust spacing between images */
      }

      .image-container {
        display: flex;
        /* Use flexbox to create a horizontal layout */
      }

      figure {
        text-align: center;
        /* Center the content within the figure */
        margin: 0;
        /* Remove default margin */
      }

      .image-container img {
        max-width: 100%;
        /* Ensure images are responsive */
        height: auto;
        margin-right: 70px;
        /* Adjust spacing between images */
      }

      figcaption {
        margin-top: 20px;
        /* Add some space between the image and the caption */
        font-style: italic;
        color: #666;
      }

      p1 {
        color: #097969;
        /* Set the color using a hexadecimal code or other color representation */
        font-size: 20px;
        line-height: 1.5;
      }
    </style>
  </head>
  <img src="img/teddy4.jpg" alt="Teddy Image" width="400" height="400">
  <img src="img/scrollingimg.jpg" alt="Image of a Decor" style="width: 450px; height: 135px; " />
  <section class="WEDDINGS" id="WEDDINGS">
    <I>
      <h1>WEDDINGS</h1>
    </I>
    <p>AS WEDDING PLANNERS WE WILL BE BY YOUR SIDE FROM THE FIRST STEP, CRAFTING AN EXPERIENCE FOR YOU TO FEEL AND SHARE, CREATING AN ETERNAL MEMORY. <br>
      <br> We offer Wedding, Design & Coordination; and Dinner, Post Wedding Brunch, Bridal Shower Planning, Design & Coordination. <br> Our services include:Venue & Vendor Coordination and Recommendations,Complete Event Design,Budget Management,Wedding Weekend Management and Coordination. <br> Our packages include full wedding planning and creative design, partial planning services as well as stand-alone wedding weekend coordination and management. Please inquire with us with us so that we may hear more about your wedding wishes and details, present our custom planning and coordination packages and provide you with a customized quote. <br> We enthusiastically help couples of all cultures, religions, races, genders and sexual orientations celebrate love and would love to hear from you! <br> Our clients really enjoy the fact that the planner they initially meet with is the same person they work with directly throughout the entire planning process and who is the leader in charge of their wedding day. This helps to ensure all details are translated across venue, budget, design, vendors and finally coordination of the wedding weekend, without being lost in translation between many different team members. <br>
      <br> We offer complimentary consultations and just need to get some details from you about your wedding plans and wishes and can then explain the different packages and price out for your wedding.
    </p>
    <div class="image-container">
      <figure>
        <img src="img/wedding1.jpg" alt="Image" width="150" height="100">
        <figcaption>Mexican Style</figcaption>
      </figure>
      <figure>
        <img src="img/wedding2.jpg" alt="Image" style="width: 180px; height: 170px; " />
        <figcaption>South Indian Style</figcaption>
      </figure>
      <figure>
        <img src="img/wedding3.jpg" alt="Image" width="180" height="100">
        <figcaption>American Style</figcaption>
      </figure>
      <figure>
        <img src="img/wedding4.jpg" alt="Image" width="180" height="170">
        <figcaption>Gujarati Style</figcaption>
      </figure>
      <figure>
        <img src="img/wedding5.jpg" alt="Image" width="180" height="170">
        <figcaption>Parsian Style</figcaption>
      </figure>
      <figure>
        <img src="img/wedding6.jpg" alt="Image" width="190" height="150">
        <figcaption>African Style</figcaption>
      </figure>
    </div>
  </section>
  <br>
  <p1>
    <b>
      <I> In our hands, your wedding is more than just a date on the calendar.</I>
    </b>
  </p1>
  <hr>
  <section class="HOUSE WARMING" id="HOUSE WARMING">
    <I>
      <h1>HOUSE WARMING</h1>
    </I>
    <p>Your housewarming party is the perfect time to foster a sense of community in your new neighborhood. <br>
      <br> Buying a new home is often synonymous with starting a new chapter in your life. It’s a time of celebration and excitement as you embark on a journey of creating a safe and comfortable haven from the outside world. And what better way to mark this momentous occasion than with a housewarming party? <br>For you to relax and enjoy the moment, a seamless execution of a housewarming celebration requires smooth planning, coordination and execution. We ensure that you do have a delightful, well-organized event free of stress, while also ensuring that everything stays within budget and in line with your vision. We'll book the catering service provider for you at an affordable rate depending on the menu you pick. We have the experience, skills, and quality service that results in housewarming event planning and execution that is pure elegance, style, and sophistication. We promise a stress-free celebration and an utterly grand housewarming ceremony as we have a 100% success rate. Please contact us by email or phone to schedule a free housewarming consultation with each of our expert.As a result, you can make sure that services will be provided with careful attention to detail and exemplify your personal style and taste, giving you the peace of mind to enjoy your housewarming event.
    </p>
    <div class="image-container">
      <figure>
        <img src="img/house1.jpg" alt="Image" width="150" height="100">
      </figure>
      <figure>
        <img src="img/house2.jpg" alt="Image" style="width: 180px; height: 170px; " />
      </figure>
      <figure>
        <img src="img/house3.jpg" alt="Image" width="180" height="100">
      </figure>
      <figure>
        <img src="img/house4.jpg" alt="Image" width="180" height="170">
      </figure>
      <figure>
        <img src="img/house5.jpg" alt="Image" width="180" height="170">
      </figure>
      <figure>
        <img src="img/house6.jpg" alt="Image" width="190" height="150">
      </figure>
    </div>
  </section>
  <I>
    <b>
      <p1>One way to give your party a sense of style and personality is to pick Us.</p1>
    </b>
  </I>
  <hr>
  <section class="BIRTHDAYS" id="BIRTHDAYS">
    <I>
      <h1>BIRTHDAYS</h1>
    </I>
    <p>Are you ready to celebrate yourself, or someone you love, by throwing a luxurious, magical, and unforgettable birthday party that’s as unique as you are? Imagine a sophisticated party, designed to your specifications, during which you’ll be able to relax, enjoy and have fun. <br>
      <br> Birthdays are about celebrating life, the people you love, and ensuring you have the epic party you deserve and have always dreamt of. Celebrate yourself or your mother, father, spouse, child, or best friend on their birthday! We can even help you throw the biggest surprise birthday party ever! <br> As F&F event planners, we are known for removing stress and adding in fun! We create memorable parties through our attention to detail, creativity, relationships, and our use of technology to make the entire experience smooth – for both you and your guests! <br> Our goal is for you to feel as special as you truly are on your birthday, and for you to feel the love of those around you, enjoy their laughter, and for your friends and family to not even know we are there! We’ll be in the background, quietly making sure everything is running smoothly, on time and according to a schedule you helped create.
    </p>
    <div class="image-container">
      <figure>
        <img src="img/brdy1.jpg" alt="Image" width="150" height="100">
      </figure>
      <figure>
        <img src="img/brdy2.jpg" alt="Image" style="width: 180px; height: 170px; " />
      </figure>
      <figure>
        <img src="img/brdy3.jpg" alt="Image" width="180" height="100">
      </figure>
      <figure>
        <img src="img/brdy4.jpg" alt="Image" width="180" height="170">
      </figure>
      <figure>
        <img src="img/brdy5.jpg" alt="Image" width="180" height="170">
      </figure>
      <figure>
        <img src="img/brdy6.jpg" alt="Image" width="190" height="150">
      </figure>
    </div>
  </section>
  <I>
    <b>
      <p1>Blow out the candles, we'll handle the rest.</p1>
    </b>
  </I>
  <hr>
  <section class="GENDER REVEAL" id="GENDER REVEAL">
    <I>
      <h1>GENDER REVEAL</h1>
    </I>
    <p>We understand that a gender reveal is an incredibly special moment for expectant parents, and we're here to help you create an unforgettable celebration that brings joy to your family and friends. <br>
      <br> We would love to be a part of your special gathering to reveal the gender. Our gender reveal party planning is a one stop shop deal! We will brainstorm gender reveal ideas and we will take care of everything else. Our gender reveal event planners can provide florals, decor, tables, seating, the best locations and a photographer to capture the big reveal! <br> When planning a gender reveal party, we understand that the big reveal itself is the highlight of the event. Our gender reveal party planners offer a range of creative and engaging ideas to make the moment truly magical. Whether it’s a grand balloon release, a piñata filled with colored confetti, or a surprise cake cutting, we work closely with you to choose the perfect reveal that will leave your guests in awe and create lasting memories.
    </p>
    <div class="image-container">
      <figure>
        <img src="img/heshe1.jpg" alt="Image" width="150" height="100">
      </figure>
      <figure>
        <img src="img/heshe2.jpg" alt="Image" style="width: 180px; height: 170px; " />
      </figure>
      <figure>
        <img src="img/heshe3.jpg" alt="Image" width="180" height="100">
      </figure>
      <figure>
        <img src="img/heshe4.jpg" alt="Image" width="180" height="170">
      </figure>
      <figure>
        <img src="img/heshe5.jpg" alt="Image" width="180" height="170">
      </figure>
      <figure>
        <img src="img/heshe6.jpg" alt="Image" width="190" height="150">
      </figure>
    </div>
  </section>
  <I>
    <b>
      <p1>He or she? Find out with us!</p1>
    </b>
  </I>
  <hr>
  <section class="CORPORATE EVENTS" id="CORPORATE EVENTS">
    <I>
      <h1>CORPORATE EVENTS</h1>
    </I>
    <p>We understand that a gender reveal is an incredibly special moment for expectant parents, and we're here to help you create an unforgettable celebration that brings joy to your family and friends. <br>
      <br> We would love to be a part of your special gathering to reveal the gender. Our gender reveal party planning is a one stop shop deal! We will brainstorm gender reveal ideas and we will take care of everything else. Our gender reveal event planners can provide florals, decor, tables, seating, the best locations and a photographer to capture the big reveal! <br> When planning a gender reveal party, we understand that the big reveal itself is the highlight of the event. Our gender reveal party planners offer a range of creative and engaging ideas to make the moment truly magical. Whether it’s a grand balloon release, a piñata filled with colored confetti, or a surprise cake cutting, we work closely with you to choose the perfect reveal that will leave your guests in awe and create lasting memories.
    </p>
    <div class="image-container">
      <figure>
        <img src="img/cc1.jpg" alt="Image" width="180" height="170">
      </figure>
      <figure>
        <img src="img/cc2.jpg" alt="Image" width="280" height="170">
      </figure>
      <figure>
        <img src="img/cc3.jpg" alt="Image" width="190" height="150">
      </figure>
    </div>
  </section>
  <I>
    <b>
      <p1>We’ll plan your corporate or social gathering with ease, elegance and professionalism!</p1>
    </b>
  </I>
  <hr>
  </ul>
  </div>
  </nav>
</html>